# ----------------------------------
# FPGA Build Artifacts (Gowin / OSS CAD Suite)
# ----------------------------------

# Yosysによって生成された論理合成の中間ファイル（ネットリストなど）
*.json
# lushayCodeの設定ファイルは除外しない
!*.lushay.json

# NextPNRによって生成された配置配線の中間ファイル
*_pnr.json

# FPGAに書き込むための最終的なビットストリームファイル
*.fs

# （今後のために）ツールチェーンが出力する一般的なログや成果物
*.log
*.bin
*.bit
*.vcd
build/